@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loader Styles */

.loader div:nth-child(1){
    animation-delay: 0.05s;
}

.loader div:nth-child(2){
    animation-delay: 0.2s;
}

.loader div:nth-child(3){
    animation-delay: 0.35s;
}

/* Global Styles */

.app {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
    @apply rounded-xl border border-black bg-black py-3 px-5 text-white transition-all hover:bg-white hover:text-black text-center font-inter flex items-center justify-center;
}

.blue_btn {
    @apply rounded-xl border border-blue-600 bg-blue-600 py-3 px-5 text-white transition-all hover:bg-white hover:text-black text-center font-inter flex items-center justify-center;
}

.head_text {
    @apply mt-5 text-xl font-extrabold leading-[1.15] text-black sm:text-xl;
}

.blue_gradient {
    @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
    @apply mt-5 text-gray-600 text-sm max-w-xl;
}

.flex-center {
    @apply flex justify-center items-center;
}

/* Nav Component */

.logo_text {
    @apply max-sm:hidden font-satoshi font-semibold text-sm text-black tracking-wide;
}