@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background: */

body {
    background: #eff1f5;
}

/* Loader Styles */

.loader div:nth-child(1){
    animation-delay: 0.05s;
}

.loader div:nth-child(2){
    animation-delay: 0.2s;
}

.loader div:nth-child(3){
    animation-delay: 0.35s;
}

/* Global Styles */

hr {
    border: 1px solid;
    width: 50%;
    margin: 0 auto;
}

.app {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
    @apply rounded-xl border border-black bg-black py-3 px-5 text-white transition-all hover:bg-white hover:text-black text-center font-figtree flex items-center justify-center;
}

.blue_btn {
    @apply rounded-2xl hover:border-4 border-cornflower-blue-400 bg-cornflower-blue-400 py-3 px-5 text-background hover:bg-background hover:text-subtext-gray text-center font-figtree flex items-center justify-center;
}

.head_text {
    @apply mt-5 text-xl font-extrabold leading-[1.15] sm:text-xl text-main;
}

.blue_gradient {
    @apply bg-gradient-to-r from-cornflower-blue-400 to-cornflower-blue-500 bg-clip-text text-transparent;
}

.desc {
    @apply mt-5 text-subtext-gray text-sm max-w-xl;
}

.flex-center {
    @apply flex justify-center items-center;
}

.image_border {
    border: 8px solid;
    border-radius: 3.5px;
    background: radial-gradient(circle, rgba(114,135,253,1) 50%, rgba(93,105,247,1) 95%);
}

/* Nav Component */

.logo_text {
    @apply max-sm:hidden font-figtree font-semibold text-sm tracking-wide;
}